{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid
token=token %} {% blocktrans %}You received this email because we received a
password reset request for your account. If you didn't request a password reset,
no further action is required. {{ endblocktrans }} {% blocktrans %}Your
username, in case you've forgotten: {{ user.get_username }} {{ endblocktrans }}
{% blocktrans %}This link will expire in {{ expiration_time }} hours. {{
endblocktrans }} {% blocktrans %}Thank you for using our site! The {{ site_name
}} team{{ endblocktrans }} {% blocktrans %}If you did not request a password
reset, please ignore this email and no changes will be made to your account. {{
endblocktrans }} {% blocktrans %}If you have any questions, feel free to contact
us at {{ contact_email }}.{{ endblocktrans }}{% blocktrans %}Best regards,{{
endblocktrans }}{% blocktrans %}The {{ site_name }} team{{ endblocktrans }}
