{%extends 'catalog/base_generic.html'%} {% block content %}
<h1>Book List</h1>
{% if book_list %}
<ul>
	{% for book in book_list %}
	<li>
		<a href="{{book.get_absolute_url}}">{{ book.title }}</a>
		({{ book.author }}) {% if book.summary %}
		<p>{{ book.summary }}</p>
		{% endif %} {% if book.isbn %}
		<p>ISBN: {{ book.isbn }}</p>
		{% endif %} {% if book.genre %}
		<p>Genre: {{ book.genre}}</p>
		{% endif %} {% if book.language %}
		<p>Language: {{ book.language }}</p>
		{% endif %} {% if book.publication_date %}
		<p>Publication Date: {{ book.publication_date }}</p>
		{% endif %} {% if book.publisher %}
		<p>Publisher: {{ book.publisher }}</p>
		{% endif %} {% if book.cover %}
		<!--<img src="{{ book.cover.url }}" alt="Cover image" />
		{% endif %}-->
	</li>
	{% endfor %}
</ul>
{% else %}
<p>No books available.</p>
{% endif %} {% endblock %}
